<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Lotto</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansThai-Black.ttf</string>
		<string>NotoSansThai-Bold.ttf</string>
		<string>NotoSansThai-Condensed.ttf</string>
		<string>NotoSansThai-CondensedBlack.ttf</string>
		<string>NotoSansThai-CondensedBold.ttf</string>
		<string>NotoSansThai-CondensedExtraBold.ttf</string>
		<string>NotoSansThai-CondensedExtraLight.ttf</string>
		<string>NotoSansThai-CondensedLight.ttf</string>
		<string>NotoSansThai-CondensedMedium.ttf</string>
		<string>NotoSansThai-CondensedSemiBold.ttf</string>
		<string>NotoSansThai-CondensedThin.ttf</string>
		<string>NotoSansThai-ExtraBold.ttf</string>
		<string>NotoSansThai-ExtraCondensed.ttf</string>
		<string>NotoSansThai-ExtraCondensedBlack.ttf</string>
		<string>NotoSansThai-ExtraCondensedBold.ttf</string>
		<string>NotoSansThai-ExtraCondensedExtraBold.ttf</string>
		<string>NotoSansThai-ExtraCondensedExtraLight.ttf</string>
		<string>NotoSansThai-ExtraCondensedLight.ttf</string>
		<string>NotoSansThai-ExtraCondensedMedium.ttf</string>
		<string>NotoSansThai-ExtraCondensedSemiBold.ttf</string>
		<string>NotoSansThai-ExtraCondensedThin.ttf</string>
		<string>NotoSansThai-ExtraLight.ttf</string>
		<string>NotoSansThai-Light.ttf</string>
		<string>NotoSansThai-Medium.ttf</string>
		<string>NotoSansThai-Regular.ttf</string>
		<string>NotoSansThai-SemiBold.ttf</string>
		<string>NotoSansThai-SemiCondensed.ttf</string>
		<string>NotoSansThai-SemiCondensedBlack.ttf</string>
		<string>NotoSansThai-SemiCondensedBold.ttf</string>
		<string>NotoSansThai-SemiCondensedExtraBold.ttf</string>
		<string>NotoSansThai-SemiCondensedExtraLight.ttf</string>
		<string>NotoSansThai-SemiCondensedLight.ttf</string>
		<string>NotoSansThai-SemiCondensedMedium.ttf</string>
		<string>NotoSansThai-SemiCondensedSemiBold.ttf</string>
		<string>NotoSansThai-SemiCondensedThin.ttf</string>
		<string>NotoSansThai-Thin.ttf</string>
		<string>NotoSansThaiUI-Black.ttf</string>
		<string>NotoSansThaiUI-Bold.ttf</string>
		<string>NotoSansThaiUI-Condensed.ttf</string>
		<string>NotoSansThaiUI-CondensedBlack.ttf</string>
		<string>NotoSansThaiUI-CondensedBold.ttf</string>
		<string>NotoSansThaiUI-CondensedExtraBold.ttf</string>
		<string>NotoSansThaiUI-CondensedExtraLight.ttf</string>
		<string>NotoSansThaiUI-CondensedLight.ttf</string>
		<string>NotoSansThaiUI-CondensedMedium.ttf</string>
		<string>NotoSansThaiUI-CondensedSemiBold.ttf</string>
		<string>NotoSansThaiUI-CondensedThin.ttf</string>
		<string>NotoSansThaiUI-ExtraBold.ttf</string>
		<string>NotoSansThaiUI-ExtraCondensed.ttf</string>
		<string>NotoSansThaiUI-ExtraCondensedBlack.ttf</string>
		<string>NotoSansThaiUI-ExtraCondensedBold.ttf</string>
		<string>NotoSansThaiUI-ExtraCondensedExtraBold.ttf</string>
		<string>NotoSansThaiUI-ExtraCondensedExtraLight.ttf</string>
		<string>NotoSansThaiUI-ExtraCondensedLight.ttf</string>
		<string>NotoSansThaiUI-ExtraCondensedMedium.ttf</string>
		<string>NotoSansThaiUI-ExtraCondensedSemiBold.ttf</string>
		<string>NotoSansThaiUI-ExtraCondensedThin.ttf</string>
		<string>NotoSansThaiUI-ExtraLight.ttf</string>
		<string>NotoSansThaiUI-Light.ttf</string>
		<string>NotoSansThaiUI-Medium.ttf</string>
		<string>NotoSansThaiUI-Regular.ttf</string>
		<string>NotoSansThaiUI-SemiBold.ttf</string>
		<string>NotoSansThaiUI-SemiCondensed.ttf</string>
		<string>NotoSansThaiUI-SemiCondensedBlack.ttf</string>
		<string>NotoSansThaiUI-SemiCondensedBold.ttf</string>
		<string>NotoSansThaiUI-SemiCondensedExtraBold.ttf</string>
		<string>NotoSansThaiUI-SemiCondensedExtraLight.ttf</string>
		<string>NotoSansThaiUI-SemiCondensedLight.ttf</string>
		<string>NotoSansThaiUI-SemiCondensedMedium.ttf</string>
		<string>NotoSansThaiUI-SemiCondensedSemiBold.ttf</string>
		<string>NotoSansThaiUI-SemiCondensedThin.ttf</string>
		<string>NotoSansThaiUI-Thin.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
</dict>
</plist>
